PORT=3001
MONGO_URI=mongodb://localhost:27017/tms
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MAILGUN_FROM_EMAIL=
ADMIN_EMAIL=
SESSION_SECRET=
RP_ID=localhost
RP_NAME=Malaysia Tender Aggregator
ORIGIN=http://localhost:5173
