PORT=3001
MONGO_URI=mongodb://localhost:27017/tms
MAILERSEND_API_KEY=
MAILERSEND_FROM_EMAIL=
ADMIN_EMAIL=
SESSION_SECRET=
RP_ID=localhost
RP_NAME=Malaysia Tender Aggregator
ORIGIN=http://localhost:5173
